.product-page-container{
    width: 100%;
    overflow-x: hidden;
}

.product-hero{
    margin-bottom: 60px;    
}

.product-hero-img-container{
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.product-hero-img{
    height: 100%;
}

.product-hero-text{
    height: 40vh;
    padding-top: 60vh;
}

.product-hero-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    font-weight: 600;
    color: #ffffff;
}

.product-hero-button{
    width: 300px;
}

.best-sellers-item{
    width: 25%;
    
}

.best-sellers-img-container{
    width: 97%;
}

.best-sellers-img{
    width: 100%;
}

.best-sellers-container{
    height: 40vw;
    overflow: hidden;
}

.best-sellers-title{
    font-weight: 600;
    font-size: 14px;
    text-align: left;
}

.product-item{
    position: relative;
    overflow: hidden;
}

.product-item-img-container{
    width: 100%;
    height: 45vw;
    margin: 0%;
    overflow: hidden;
}

.product-item-img{
    width: 100%;
    z-index: 0;
}

.product-item-text{
    position: absolute;
    z-index: 10;
    top: 30vw;
    width: 100%;
    height: 45vw;
}

.product-item-heading{
    color: #ffffff;
    font-size: 55px;
    text-align: center;
}

@media screen and (max-width: 750px){
    .product-hero-img{
        transform: translateX(-500px);
    }

    .product-hero-heading{
        font-size: 40px;
        max-width: 90%;
    }
    .product-hero-button{
        width: 80%;
        margin-right: 30px;
    }
    .best-sellers-container{
        height: 50vw;
    }       
}